apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "codeq.fullname" . }}-config
  labels:
{{ include "codeq.labels" . | indent 4 }}
data:
  scheduler-api.yaml: |
    port: {{ .Values.config.port }}
    redisAddr: {{- if .Values.kvrocks.enabled }} {{ printf "%s-kvrocks:%d" (include "codeq.fullname" .) .Values.kvrocks.service.port | quote }}{{- else }} {{ .Values.config.redisAddr | quote }}{{- end }}

    identityServiceUrl: {{ .Values.config.identityServiceUrl | quote }}
    identityServiceApiKey: {{- if .Values.secrets.enabled }} ""{{- else }} {{ .Values.secrets.identityServiceApiKey | quote }}{{- end }}

    logLevel: {{ .Values.config.logLevel | quote }}
    logFormat: {{ .Values.config.logFormat | quote }}
    env: {{ .Values.config.env | quote }}
    timezone: {{ .Values.config.timezone | quote }}

    defaultLeaseSeconds: {{ .Values.config.defaultLeaseSeconds }}
    requeueInspectLimit: {{ .Values.config.requeueInspectLimit }}

    localArtifactsDir: {{ .Values.config.localArtifactsDir | quote }}

    maxAttemptsDefault: {{ .Values.config.maxAttemptsDefault }}
    backoffPolicy: {{ .Values.config.backoffPolicy | quote }}
    backoffBaseSeconds: {{ .Values.config.backoffBaseSeconds }}
    backoffMaxSeconds: {{ .Values.config.backoffMaxSeconds }}

    workerJwksUrl: {{ .Values.config.workerJwksUrl | quote }}
    workerAudience: {{ .Values.config.workerAudience | quote }}
    workerIssuer: {{ .Values.config.workerIssuer | quote }}
    allowedClockSkewSeconds: {{ .Values.config.allowedClockSkewSeconds }}
    allowProducerAsWorker: {{ .Values.config.allowProducerAsWorker }}

    webhookHmacSecret: {{- if .Values.secrets.enabled }} ""{{- else }} {{ .Values.secrets.webhookHmacSecret | quote }}{{- end }}
    subscriptionMinIntervalSeconds: {{ .Values.config.subscriptionMinIntervalSeconds }}
    subscriptionCleanupIntervalSeconds: {{ .Values.config.subscriptionCleanupIntervalSeconds }}
    resultWebhookMaxAttempts: {{ .Values.config.resultWebhookMaxAttempts }}
    resultWebhookBaseBackoffSeconds: {{ .Values.config.resultWebhookBaseBackoffSeconds }}
    resultWebhookMaxBackoffSeconds: {{ .Values.config.resultWebhookMaxBackoffSeconds }}
